@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700&subset=latin-ext");
* {
  box-sizing: border-box; }

body {
  background: #303f9f;
  color: #eee;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px; }

.full-wrapper h1 {
  text-align: center; }

.pure-g > div {
  border: 1px solid #ff5252;
  box-sizing: border-box;
  text-align: center; }

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.search-input {
  margin: 3em auto;
  padding: 2em; }
  .search-input a {
    color: #eee;
    text-decoration: none;
    opacity: .8;
    transition: opacity .4s; }
    .search-input a:hover {
      opacity: 1;
      transition: opacity .4s; }

.pure-form .pure-input {
  color: #3f51b5;
  border-radius: 5px;
  min-width: 300px; }

#search-output {
  text-align: left;
  margin-top: 25px; }
  #search-output a {
    display: block; }
  #search-output ul {
    padding: 0;
    margin: 0; }
  #search-output li {
    border-left: 5px solid transparent;
    list-style-type: none;
    background-color: #3f51b5;
    padding: 20px 10px;
    margin-bottom: 20px;
    transition: all .4s; }
    #search-output li:hover {
      border-left: 5px solid #ff5252;
      transition: all .4s; }
    #search-output li img {
      width: 200px;
      max-height: 200px; }
    #search-output li h2 {
      margin-top: 0;
      font-size: 28px; }
    #search-output li p {
      font-size: 14px;
      width: 100%; }
    #search-output li .output-text {
      padding: 0 10px; }
